<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/mycss.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}" />
        {% endblock %}

        
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}
        
        {% endblock %}
        {% include 'footer.html.twig' %}
        {% block javascripts %}
          <script src="{{ asset('js/jquery-3.6.1.js') }}"></script>
           <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
             <script src="{{ asset('js/myjs.js') }}"></script>
        {% endblock %}
        <script src="https://kit.fontawesome.com/ad9a0d2b24.js" crossorigin="anonymous"></script>
    </body>
</html>
