{% extends 'base.html.twig' %}

{% block title %} Nouveau utilisateur{% endblock %}

{% block body %}
  <div class="tete">
       <h2>Inscription</h2>
    </div>

{{form_start(form)}}
            <div class="form">

                   <div class="lab-design">
                        {{ form_label(form.username, 'Utilisateur:', {'label_attr': {'class': 'fooddes'}}) }}
                  </div>                  
                  <div class="input-design">
                       {{  form_widget(form.username)}}
                  </div> 
                  
                 <div class="lab-category">
                       <span>Email:</span>
                    </div>
                    <div class="input-category">
                       {{form_widget(form.email)}}
                    </div> 

                   <div class="lab-prix">
                       {{ form_label(form.password, 'Mot de pass:', {'label_attr': {'class': 'foo'}}) }}
                   </div>
                    <div class="input-prix">
                       {{form_widget(form.password)}}
                  </div> 

                    

                       

           

               <div class="btn">
                <button class="btn btn-info">Valider</button>
               </div>
                
              
             </div>    
              

            </div>
            {{ form_rest(form)}}
    {{form_end(form)}}  

{% endblock %}
